body {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: white;
}
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.homePage {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.homePage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

#title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10dvh;
  margin-bottom: 20px;
}

.button {
  position: absolute;
  min-width: 25%;
  height: 50px;
  transform: translate(-50%, -50%);
  background-color: #fa7d2f;
  border: #000, 2px, solid;
  color: #fff; /* Blanc */
  cursor: pointer;
  font-size: 3dvh;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  left: 50%;
}

.button:hover {
  background-color: #ffccaa;
}

#start {
  top: 60%;
}

#scores {
  top: 70%;
}

#audio {
  top: 80%;
}

#back {
  bottom: 3%;
}

.block {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid #fff;
  padding: 20px;
  width: 50%;
  font-size: 2.5vh;
}

#leaderboard {
  top: 60%;
  height: 50%;
}

#login {
  top: 60%;
  height: 25%;
}
